<md-toolbar color="primary">
  <nav class="main-navbar">
    <button
      md-button routerLink="/home"
      routerLinkActive="active"
      mdTooltip="Home">
        <md-icon color="secondary">home</md-icon>
    </button>
    <button
      md-button routerLink="/chats"
      routerLinkActive="active"
      mdTooltip="Chats">
        <md-icon color="secondary">chat</md-icon>
    </button>
    <span class="spacer"></span>
    <button *ngIf="!(logged$ | async)"
      md-button routerLink="/login"
      routerLinkActive="active"
      mdTooltip="Login">
        <md-icon color="secondary" alt="login">exit_to_app</md-icon>
    </button>
    <button *ngIf="!(logged$ | async)"
      md-button routerLink="/register"
      routerLinkActive="active"
      mdTooltip="Register">
        <md-icon color="secondary">assignment</md-icon>
    </button>
    <ct-authbar *ngIf="logged$ | async" [user]="user$ | async" [lineStatus]="connected$ | async"></ct-authbar>
    <button *ngIf="logged$ | async"
      id="logout"
      md-button
      (click)="handleLogoutClick()"
      mdTooltip="Logout">
         <md-icon color="secondary"><ct-logout></ct-logout></md-icon>
    </button>
  </nav>
</md-toolbar>

<router-outlet></router-outlet>
