// color pallete
$primary-light: #d7d8f1;
$primary-mid: #989ad7;
$primary-dark: #3b3e99;
$secondary-light: #fff;
$secondary-mid: #f23f79;
$secondary-dark: #ed145b;

// colors
$main-bg-color: $primary-light;
$user-list-bg-color: $primary-dark;
$message-list-bg-color: $secondary-light;
$message-item-color: #f1f1fb;
$self-message-item-color: $primary-mid;
$user-img-bg-color: #ccc;
$self-user-color: $secondary-mid;
$self-user-bg-color: $secondary-light;
