:host {
  display: flex;
}

.authbar-wrapper {
  display: flex;
  padding: 5px;
  align-items: center;
  // height: 100%;
}

.green {
  background-color: green !important;
}

.avatar {
  margin-right: 5px;
}

.user-name {
  margin: 5px 15px;
}
