<main>
  <form novalidate [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()">
    <div class="register-info">
    </div>
    <div *ngIf="registerError$ | async" class="register-error dca-error-message">
      {{registerError$ | async}}
    </div>
    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput formControlName="login" placeholder="Login" name="login" type="text" />
        <md-error>{{ formErrors.login }}</md-error>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput formControlName="email" placeholder="Email" name="email" type="email" />
        <md-error>{{ formErrors.email }}</md-error>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput formControlName="password" placeholder="Password" name="password" type="password" />
        <md-error>{{ formErrors.password }}</md-error>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-input-container class="full-width">
        <input mdInput formControlName="confirmPassword" placeholder="Confirm password" name="confirm-password" type="password" />
        <md-error>{{ formErrors.confirmPassword }}</md-error>
      </md-input-container>
    </div>
    <div class="form-group">
      <button md-button color="primary" class="register-btn" [disabled]="registerForm.pristine || registerForm.invalid">Register</button>
    </div>
  </form>
  <ct-spinner *ngIf="registering$ | async">
  </ct-spinner>
</main>
