<aside>
  <md-sidenav-container>
    <md-sidenav class="vs-sidenav" #sidebar mode="side" opened="true">
    <!-- <button md-button (click)="sidebar.toggle()">Open</button> -->
      <md-tab-group>
        <md-tab label="All Users">
          <ul>
            <li *ngFor="let user of users">
              <div class="user-name">
                <ct-avatar [name]="user.username" [lineStatus]="user.online"></ct-avatar>
                {{user.username}}
              </div>
            </li>
          </ul>
        </md-tab>
        <md-tab label="All Rooms">
          <ul>
            <li *ngFor="let room of rooms">
              <ct-avatar [name]="room.title" [showStatus]="false" [round]="false"></ct-avatar>
              <div class="room-title">{{room.title}}</div>
            </li>
          </ul>
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <!-- <button md-button (click)="sidebar.open()">Open</button> -->
  </md-sidenav-container>
</aside>
