<main>
  <form novalidate [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <div class="login-info">
    </div>
    <div class="form-group">
    <md-input-container class="full-width">
      <input mdInput formControlName="login" placeholder="Login" name="login" id="login" type="text" />
      <md-error>This field is required</md-error>
    </md-input-container>
    </div>
    <div class="form-group">
    <md-input-container class="full-width">
      <input mdInput formControlName="password" placeholder="Password" name="password" id="password" type="password" />
      <md-error>This field is required</md-error>
    </md-input-container>
    </div>
    <div class="form-group">
      <button type="submit" md-button color="primary" class="login-btn" id="submit" [disabled]="loginForm.pristine || loginForm.invalid">Login</button>
    </div>
  </form>
</main>
